<a href="https://colab.research.google.com/github/rubanzasilva/mnist_basics/blob/main/find_the_percentage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


In name , *line = int(input()) name read in a variable,

Here name gets assigned a word and the rest are assigned to line.input.split() takes in input from the user and splits it into a list of word.

The * is used to capture the rest of the words after the first one.

which allows us to assign multiple variables from a tuple at once.

In [9]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    print(sum(student_marks[query_name]))

4
jay
gringo 20 30 25
silva 32 54 80 24
david 23 34 28
silva
{'jay': [], 'gringo': [20.0, 30.0, 25.0], 'silva': [32.0, 54.0, 80.0, 24.0], 'david': [23.0, 34.0, 28.0]}

In [23]:
print(round(sum(student_marks[query_name])/3),2)

63 2

In [20]:
query_name

'silva'

In [13]:
queried_student_marks = student_marks['silva']

In [18]:
queried_student_marks

[32.0, 54.0, 80.0, 24.0]

In [17]:
type(queried_student_marks)

list

In [19]:
sum(queried_student_marks)

190.0

In [ ]:
for x in queried_student_marks:
  print(sum)

In [7]:
a_dict = {'one': 1} # Here 'one' is the key.
a_dict['two'] = 2 # Adds key 'two' which points to 2
print (a_dict['one'])

1

In [8]:
print (a_dict['two'])

2

In [ ]:
#to print the values of a dict, we can call out the name of the dictionary and pass in the key as follows, this prints out the values
student_marks = {}
n = int(input)